.imageCard{

    margin-top:5vh;
    border: 2px solid black;
    width: 20%;
    text-align: center;
    padding: 20px;
    min-height: 400px;
    min-width: fit-content;

    border-radius: 20px;
    color: white;
}

.imageCard img{
    border-radius: 50px;
    box-shadow: 2px 5px 50px white;
}

.imgdiv{
     background-color: black;
    padding: 20px;
    border-radius: 10px;
    min-height:max-content;
    min-width: min-content;
}

.btn{
    padding: 30px;
    display: flex;
    flex-direction: column;
} 

.btn button{
    margin: 5px;
    height: 30px;
}

