body{
    background-color:white;
}

.container{
    background-color:lightyellow;
    display: grid;
    height: 80vh;
    border: 2px solid whitesmoke;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    width: 100%;

    
}

.row1,.row2.row3,.row4{
    border: 1px dotted greenyellow;
    
}

.row1{
    grid-column: 1/13;
 
    grid-row: 1/2;
    
    background-color: #131921;
    height: 80px;

    color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row2{
    grid-column: 1/13;
    grid-row: 2/3;

    background-color: #232F3E;

    height: 70px;

    
    color: white;


}

.row2 ul{
    list-style: none;
    display: flex;  
}

ul li{
   padding: 20px;
}

li:hover{
    background-color: #131921;
}

.row3{
    grid-column: 1/13;
    grid-row: 3/4;
    

}